body div div 
{
background-image: url("dickpics/beautyetgrace.jpg");
background-size: 15px 15px;
}
#this
{
	background-color: blue;
	background-image: url("http://comps.canstockphoto.com/can-stock-photo_csp27310016.jpg");
}
p
{
	color: white;
	background-color: black;
}
div div strong p 
{
	background-color: black;
}
div div h2
{
	color: white;
}
div div h4
{
	color: white;
}
h3
{
	color:white;
}
li
{
	color: white;
	background-color: black;
}
body
{
	background-image: url(dickpics/importantthing.gif);
}